*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black
}
html, body {
    width: 100%;
    height: 100%;
}

/* #page1{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(39, 196, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    gap: 50px;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(8, 130, 191);
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
h1{
    font-size: 60px;
    position:relative;
    background-color: red;
}
h2{
    font-size: 60px;
    position:relative;
    background-color: yellow;
} */
/* body{
    background-color:  #111;
} */
/* #nav{
    background-color: red;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
} */
/* #part2{
    display:flex;
    gap:50px;
} */

/* #box1{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
#box2{
    height: 300px;
    width: 300px;
    background-color: lightseagreen;
}
#box3{
    height: 300px;
    width: 300px;
    background-color: royalblue;
} */
body{
    overflow-x: hidden;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(119,212,243);
    padding:5vw;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2 h1{
    font-size: 40vw;
    font-weight: 600;
    text-transform: uppercase ;
}